main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #dcfffd;
  --secondary: #8f95d3;
  --tertiary: #4c956c;
  --accent: #f7996e;
  --dark: #191923;
}

* {
  box-sizing: border-box;
  background-color: var(--primary);
}

.flex-row{
  display: flex;
  flex-wrap: wrap;
}

.li-spacing {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  list-style: none;
}
a {
  text-decoration: none;
}

.navActive {
  color: yellow;
}

.project-item-1 {
  background-image: url(./assets/images/Spontaneous-Selection.PNG);
}

.project-item-2 {
  background-image: url(./assets/images/Blue42.PNG);
}
/* .textStyle {
  color: white;
  text-align: center;
} */