main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #141414;
  --secondary: #8f95d3;
  --tertiary: #4c956c;
  --accent: #f7996e;
  --dark: #191923;
  --text-color: rgb(246, 248, 244);
}

* {
  box-sizing: border-box;
}
h1 {
  font-family: 'Poiret One';
  font-weight: bolder;
  font-size: 48px;
}
/* header, nav, ul, li, h1, span {
  background-color: rgb(37, 36, 36);
} */
main {
  background-image: url(./assets/images/background-dark.png);
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
}
header, footer {
  justify-content: space-between;
  padding: 20px;
  background-image: url(./assets/images/background-dark.png);
  background-size: cover;
  background-attachment: fixed;
}
.name-tag {
  margin-left: 40px;
  color: var(--text-color);
}
.nav-items {
  width: 100%;
  padding-top: 8px;
}
.flex-row{
  display: flex;
  flex-wrap: wrap;
}

.li-spacing {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  list-style: none;
}
li, li a {
  list-style-type: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.text-format {
  color: var(--text-color);
}
.error-message {
  color: rgb(139, 44, 44);
  font-weight: bolder;
}
.navActive {
  text-shadow: 2px 2px 10px #f1f1dc, -2px -2px 10px #fafcb0;
}

.project-1 {
  background-image: url(./assets/images/Spontaneous-Selection.PNG);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 300px;
  height: 260px;
  margin: 10px 20px;
}

.project-2 {
  background-image: url(./assets/images/Blue42.PNG);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 300px;
  height: 250px;
  margin: 10px 20px;
}
.hover-style-2 {
  background-color: white;
  background-image: url(./assets/images/Blue42.PNG);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 300px;
  height: 250px;
  margin: 10px 20px;
  /* filter: opacity(.4); */
}
.submit-btn {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 16px;
  border: none;
}
.center {
  margin-top: 30px;
  text-align: center;
}
/* .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #2098D1;
  color: white;
} */
.container {
  position: relative;
  width: 50%;
}
.image {
  width: 90%;
  height: 77%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  width: 90%;
  opacity: 0;
  transition: .4s ease;
  background-color: white;
}

.storage:hover .overlay {
  opacity: .6;
}

.text {
  background-color: white;
  font-size: 30px;
  font-weight: bolder;
  text-shadow: 1px 1px black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  
}
.text a{
  text-decoration: none;
  color: black;
  background-color: white;
  width: 100%;
}
.about-me {
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  margin-left: 25%;
  margin-right: 25%;
}
.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
.resume {
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
}
.skills {
  padding-top: 15px;
  padding-bottom: 10px;
}
h2, h3 {
  color: var(--text-color);
  font-family: 'Poiret One';
}
.li-text {
  color: var(--text-color);
  background-color: var(--primary) ;
}
ul.style {
  list-style-type:circle ;
  background-color: var(--primary);
}
footer {
  /* position: fixed; */
  padding: 10px 10px 45px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/ 
  height: 40px;
  align-items: center;
}
footer a{
  text-decoration: none;
  color: var(--text-color);
}
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
.design {
  display: flex;
  margin-right: 0px;
}
